<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/signup.css">
    <link rel="stylesheet" href="/style/homepage.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/rsaFile.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/block.js"></script>
    <script src="js/blockChain.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/index.js"></script>

    <script>
        //index
        const createWallet = _ => {
            // document.location.href = './signup'
            document.getElementById("container").style.display = 'none';
            document.getElementById("su_container").style.display = 'flex';
        }

        const beforeLogin = _ => {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            if (username === "" || password === "") {
                document.getElementById("lgi_desc").style.display = "block";
                return;
            }
            document.getElementById("lgi_desc").style.display = "none";
            login(username, password);
        }

        // sign up
        const beforeSignUp = _ => {
            let username = document.getElementById("su_username").value;
            let password = document.getElementById("su_password").value;
            let passwordAgain = document.getElementById("su_passwordAgain").value;
            let txt = document.getElementById("su_msg");

            if (password !== passwordAgain) {
                txt.style.display = "block";
                txt.innerHTML = "Mật khẩu không trùng khớp";
                return;
            }

            if (username === "") {
                txt.innerHTML = "Tên đăng nhập không được để trống";
                txt.style.display = "block";
                return;
            }
            txt.style.display = "none";
            signup(username, password);

        }

        //homepage
        const beforeMine = _ => {
            console.log('before mine');
            mineCoin();
        }

        const beforeGetTotal = _ => {
            document.getElementById('hp_container').style.display = "none";
            document.getElementById('rp_container').style.display = "block";
            let total = getTotalCoin(localStorage.getItem('publicKey'));
            document.getElementById('rp_pubKey').innerHTML = `Địa Chỉ: ${localStorage.getItem('publicKey')}`;
            document.getElementById('rp_totalCoin').innerHTML = `Tổng số xu: ${total}`;
            updateUiRp(localStorage.getItem('publicKey'));
        }

        const beforeBtnHomepage = _ => {
            document.getElementById("rp_container").style.display = "none";
            document.getElementById("sc_container").style.display = "none";
            document.getElementById("hp_container").style.display = "flex";
            updateBlockChain();
        }

        const beforeSc = _ => {
            document.getElementById("hp_container").style.display = "none";
            document.getElementById("sc_container").style.display = "flex";
        }

        const beforeBtnSendCoin = _ => {
            let coin = document.getElementById('sc_coin').value;
            let address = document.getElementById("sc_address").value;
            let privateKey = document.getElementById("sc_privateKey").value;
            if (address === "") {
                let msg = document.getElementById("sc_msg");
                msg.style.display = "block";
                msg.innerHTML = "Không được để trống địa chỉ";
                return;
            }

            if (coin === "") {
                let msg = document.getElementById("sc_msg");
                msg.style.display = "block";
                msg.innerHTML = "Không được để trống số lượng xu";
                return;
            }

            let total = getTotalCoin(localStorage.getItem('publicKey'));
            if ((+coin) > total) {
                let msg = document.getElementById("sc_msg");
                msg.style.display = "block";
                msg.innerHTML = `Số Xu lớn hơn số dư bạn đang có (${coin} > ${total})`;
                return;
            }

            if (privateKey === "") {
                let msg = document.getElementById("sc_msg");
                msg.style.display = "block";
                msg.innerHTML = `private key không được để trống`;
                return;
            }

            let str = address.split("-----");
            let o = str[2].split(" ").join('\n');
            console.log('str ne: ', o)
            let a = `-----BEGIN PUBLIC KEY-----${o}-----END PUBLIC KEY-----`;
            console.log('OFFFICIAL: ', a);


            document.getElementById("sc_msg").style.display = 'none';
            sendCoin(a, coin, privateKey);
        }



    </script>
</head>

<body>
    <!-- indexpage -->
    <div id="container">
        <h1>MYCOIN</h1>
        <div id="interface">
            <div id="createWallet" onClick="createWallet()">Tao Vi</div>
            <div id="login">
                <input type="text" id="username" placeholder="Tên đăng nhập">
                <input type="password" id="password" placeholder="Mật khẩu">
                <button id="loginBtn" onclick="beforeLogin()">ĐĂNG NHẬP</button>
                <div id="lgi_desc" style="display: none">Tên tài khoản hoặc mật khẩu không được để trống</div>
            </div>
        </div>
    </div>

    <!-- signUp -->
    <div id="su_container" style="display: none">
        <h1>TẠO VÍ MY COIN</h1>
        <input id="su_username" type="text" placeholder="Tên đăng nhập">
        <input id="su_password" type="password" placeholder="Mật khẩu">
        <input id="su_passwordAgain" type="password" placeholder="Nhập lại mật khẩu">
        <button id="btn_signup" onclick="beforeSignUp()">ĐĂNG KÝ</button>
        <div id="su_msg" style="display: none">Mật khẩu không trùng khớp</div>
        <div id="su_desc" class="key" style="display: none">Hãy lưu trữ private key của bạn cẩn thận</div>
        <p id="su_publicKey" class="key" style="display: none"></p>
        <p id="su_privateKey" class="key" style="display: none"></p>
    </div>

    <!-- homepage -->
    <div id="hp_container" style="display: none">
        <div class="hp_block" onclick="beforeGetTotal()">Thống kê tài khoản</div>
        <div class="hp_block" onclick="beforeSc()">Chuyển Xu</div>
        <div class="hp_block">Lịch sử giao dịch</div>
        <div class="hp_block" id="mine" onclick="beforeMine()">Đào Coin</div>
        <div id="hp_msg" style="display:none">Hiện tại không có giao dịch nào cần xác nhận</div>
        <ul id="hp_blockChain"></ul>
    </div>

    <!-- thống kê tài khoản -->
    <div id="rp_container" style="display: none">
        <h1>THỐNG KÊ TÀI KHOẢN</h1>
        <div id="rp_pubKey">Địa Chỉ: </div><br>
        <div id="rp_totalCoin">Tổng số xu: 100</div><br>
        <ul id="rp_transaction">

        </ul>
        <div id="rp_btnHomepage" onclick="beforeBtnHomepage()">Trang chủ</div>
    </div>

    <!-- Chuyển Xu -->
    <div id="sc_container" style="display: none">
        <h1>CHUYỂN XU</h1>
        <textarea id="sc_address" class="scClass" type="text" placeholder="Địa chỉ người nhận"></textarea>
        <input id="sc_coin" class="scClass" type="number" placeholder="số xu sẽ gửi">
        <input id="sc_privateKey" class="scClass" type="text" placeholder="privateKey">
        <button class="scClass" onclick="beforeBtnSendCoin()">Gửi</button>
        <div id="sc_msg" style="display:none"></div>
        <button onclick="beforeBtnHomepage()">Trang chủ</button>
    </div>

</body>

</html>