<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/block.js"></script>
    <script src="js/blockChain.js"></script>
    <script src="/js/controller.js"></script>
    <script>
        const createWallet = _ => {
            document.location.href = './signup'
        }

        const beforeLogin = _ => {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            if (username === "" || password === "") {
                document.getElementById("lgi_desc").style.display = "block";
                return;
            }
            document.getElementById("lgi_desc").style.display = "none";
            login(username, password);
        }
    </script>
    <script src="/js/index.js"></script>
</head>

<body>
    <div id="container">
        <h1>MYCOIN</h1>
        <div id="interface">
            <div id="createWallet" onClick="createWallet()">Tao Vi</div>
            <div id="login">
                <input type="text" id="username" placeholder="Tên đăng nhập">
                <input type="password" id="password" placeholder="Mật khẩu">
                <button id="loginBtn" onclick="beforeLogin()">ĐĂNG NHẬP</button>
                <div id="lgi_desc" style="display: none">Tên tài khoản hoặc mật khẩu không được để trống</div>
            </div>
        </div>
    </div>

</body>

</html>